/*
    these are just the default styles used in the Cycle2 demo pages.  
    you can use these styles or any others that you wish.
*/


/* set border-box so that percents can be used for width, padding, etc (personal preference) */
.cycle-slideshow, .cycle-slideshow * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin-bottom: 10px; }


.cycle-slideshow { width: 100%; min-width: 200px; padding: 0; background-color: black; }

/* slideshow images (for most of the demos, these are the actual "slides") */
.cycle-slideshow img { 
    /* 
    some of these styles will be set by the plugin (by default) but setting them here
    helps avoid flash-of-unstyled-content
    */
    position: absolute; bottom: 0;
    width: 100%; padding: 0; display: block;
}

.col-lg-4{
    margin-top: 10px;
    margin-bottom: 20px;    
}

.col-lg-4 img{
    max-height: 289px;
    height: 289px;
}

/* in case script does not load */
.cycle-slideshow img:first-child {
    position: static; z-index: 100; bottom: 0;
}

/* overlay */
.cycle-overlay { 
    font-family: tahoma, arial;
    position: absolute; bottom: 0; width: 100%; z-index: 600;
    background: black; color: white; padding: 15px; opacity: .5;
}

.cycle-caption { position: absolute; background: black; color: white; opacity: .5; top: 15px; right: 15px; z-index: 700; padding: 2px; border-radius: 20%; }

.nomeAlbum { position: absolute; background: black; color: white; opacity: .5; top: 15px; left: 15px; z-index: 700; padding: 2px; border-radius: 20%; }

.cycle-slideshow{ height: 100%; }

#inputAssunto{    
    height: 35px;
    visibility: hidden;
    position: absolute;
    margin: -6px auto auto 25px;
}

#inputAssunto button {
    height: 100%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#inputAssunto input{
    background-color: #333;
    border: 1px solid #ccc;
    height: 100%;
}

/* 
    media queries 
    some style overrides to make things more pleasant on mobile devices


@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
    .cycle-overlay { padding: 4px }
    .cycle-caption { bottom: 4px; right: 4px }
}*/
