.new-tournament{
    margin: auto auto auto 0;    
}

.table td{
    background-color: #333;
    text-align: center;
    margin: auto auto auto auto;    
}

.table td a{    
    text-align: center;
    display: block;
    color: #fff;
    text-decoration:none;
}

.table b{
    padding: 0;
    z-index: 20;
    visibility: hidden;
    background-color: #333;
    position: absolute;
    border-color: #DDD;
    border-style: solid;
    border-width: 4px;
    border-radius: 10px;
}

.table th{
    text-align: center;
    margin: auto auto auto auto;    
}

.form-group{
    max-width: 98%;
}

.center{
    margin: auto auto auto auto
}

.table-responsive{
    margin-left: 5%; 
}

.btn.btn-default.btn-lg.btn-block{
    margin-left: 3%;
    width: calc(100% - 10px);
}

/* Bubble Top */
.bubble-top {
  display: inline-block;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  left: calc(30% - 30px);
}
.bubble-top:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  border-style: solid;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: top;
  transition-property: top;
  left: calc(50% - 10px);
  top: -10px;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #e1e1e1 transparent;
}
.bubble-top:hover:before, .bubble-top:focus:before, .bubble-top:active:before {
  top: -10px;
}

#deletarJogador{
    float: right;
    margin-right: 10px;
}

#deletarJogador a{
    text-decoration: none;
    color: #fff;
}