#sea input{    
    max-width: 500px;
    width: 500px;
    border-radius: 0;
}

#sea button{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

#sea td span{
    height: 34px; 
    border: 1px solid #ccc;    
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-color: rgba(0, 0, 0, 0.00);
    border-right-color: #333;
}

#sea{
    margin: auto auto 50px auto;
}