body {
    font-family: 'Sanchez','Lucida Grande', Tahoma, Verdana, sans-serif,FontCard;
    transition: margin 120ms linear;
    color:#4e4e4e;
    background: url("/app/webroot/img/Main_background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.content{
    padding: 10px 10px 20px 10px;
}

.container .content{    
    height:100%;
    min-height: 500px;    
}

.navbar{
    background-color: #bbb;    
}
.navbar-inverse .navbar-nav > li > a {
    color: #000;
}

.navbar-inverse .navbar-brand {
    color: #000;
}

.navbar-inverse {
  border-color: #bbb;
}

.bs-docs-nav {
    background-color: #fff;
}