.form-control.isection{
    width: 60px;
}

.panel.panel-default{
    background-color: #333;
}

label,#table-Players_info{
    color: #fff;
}
table.dataTable tbody tr {
  background-color: #333;
}
table th{
    text-align: center;
}

.panel-heading{
    margin-bottom: 10px;
}

.players dt{  
    display: block;  
    padding-left: 3px;
}

.players dt:hover{
    background: #333;
    color: #fff;
}

.players dd{
    left: 100px;
    z-index: 30;
    padding: 1px 1px 1px 1px;
    visibility: hidden;
    background-color: #333;
    position: absolute;
    width: 225px;
    border-color: #DDD;
    border-style: solid;
    border-width: 4px;
    border-radius: 10px;
}

.players dd a{
    color: #fff;
    text-decoration:none;
}

.players dd a img{
    margin: 5px;
}

.players dd a p {
    margin: 0 0 0 0;
}

.table td{
    background-color: #333;  
}

#end{
    border-right-width:1px;
}

.table td a{
    color: #fff;
    text-decoration:none;
}

/* Bubble Top */
.bubble-top {
  display: inline-block;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  left: calc(30% - 30px);
}
.bubble-top:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  border-style: solid;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: top;
  transition-property: top;
  left: calc(50% - 10px);
  top: -10px;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #e1e1e1 transparent;
}
.bubble-top:hover:before, .bubble-top:focus:before, .bubble-top:active:before {
  top: -10px;
}

.inputsections input{
    visibility: hidden;
}