.panel.panel-default{
    margin: 0 0 0 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    position: relative;
}

.table th{
    text-align: center;
    margin: auto auto auto auto;    
}

.table td a{
    text-align: center;
    margin: auto auto auto auto;
    color: #fff;
    text-decoration:none;
}

#inputAssunto{
    visibility: hidden;
    position: absolute;
    margin: -6px auto auto 25px;
}

#inputAssunto input{
    width: 160px;
}